{% extends 'base.html' %}

{% block title %}Blog{% endblock %}

{% block body%}
<section>
    <div class="container">
        <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Blog</li>
            </ol>
        </nav>
    </div>
        <div class="d-flex text-center search_bg">
        <div class="container text-center">
            <form class="d-flex form_search " role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>

</section>
<section>
    <div class="tab-content" id="pills-tabContent">
        <div class="container">
            <h1>Blog</h1>
        </div>
    </div>
</section>

{% endblock %}